<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>certificate</title>
    <style>
        .bt-cntr{
            display: flex;
            justify-content: center;
            margin-top: 20%;
        }
       .bt-cntr button {
         margin: 30px;
       }
    </style>
</head>
<body>
    <div class="bt-cntr">
        <button onclick="link('/student')">STUDENT</button>
        <button onclick="link('/staff')">STAFF</button>
    </div>

    <script>
        function link(link) {
            location.href = link
        }
    </script>
</body>
</html>