<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>charity</title>
    <style>
        .charity-msg {
           margin-left: 20%;
           margin-right: 20%;       
        }
        img {
            margin-top: 50px;
            height: 300px;
            width: 300px;
            margin-left: 25%;
            margin-bottom: 25px;
        }
    </style>
</head>
<body>
    <div class="charity-msg">
        <h1>Hi! Welcome to Our Charity Donation Feature</h1>
          <p>At our organization, we believe in making a positive impact. With our charity donation feature, you have the power to contribute to causes that matter. Whether it’s supporting education, healthcare, environmental conservation, or disaster relief, your donations create ripples of change.</p>
        <p>Together, let’s create a world where compassion knows no bounds. Join us in making a difference today! 🌟</p> 
        <img src="/images/qr.jpg" alt="">
        <h3>Feel free to explore our charity donation feature and be part of something meaningful. 🙌</h3>
        </div>
</body>
</html>