<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <style>
       body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
}

.about-us {
    max-width: 900px;
    margin: 50px auto;
    padding: 30px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;
}

.about-us:hover {
    transform: translateY(-10px);
}

h1 {
    margin-bottom: 30px;
    color: #2c3e50;
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
}

h1::after {
    content: '';
    width: 100px;
    height: 3px;
    background: #2c3e50;
    display: block;
    margin: 10px auto;
}

.member {
    margin-bottom: 40px;
    padding: 20px;
    background-color: #ecf0f1;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}

.member:hover {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

h2 {
    color: #2980b9;
    font-size: 1.8em;
    margin-bottom: 10px;
}

p {
    color: #7f8c8d;
    font-size: 1.1em;
    margin: 5px 0;
}

@media (max-width: 768px) {
    .about-us {
        padding: 20px;
    }
    
    h1 {
        font-size: 2em;
    }
    
    h2 {
        font-size: 1.5em;
    }
    
    p {
        font-size: 1em;
    }
}


    </style>
</head>
<body>
    <div class="about-us">
        <h1>About Us</h1>
        <div class="member">
            <h2>Muhsin KT</h2>
            <p>6th sem student CSE, LBSCEK</p>
            <p>Phone: 7025005833</p>
        </div>
        <div class="member">
            <h2>Rishal</h2>
            <p>6th sem student CSE, LBSCEK</p>
            <p>Phone: 9400662060</p>
        </div>
        <div class="member">
            <h2>Piyush</h2>
            <p>6th sem student CSE, LBSCEK</p>
            <p>Phone: 7306062929</p>
        </div>
        <div class="member">
            <h2>Noushad</h2>
            <p>6th sem student CSE, LBSCEK</p>
            <p>Phone: 7736343139</p>
        </div>
    </div>
</body>
</html>
