<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
       body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url('https://source.unsplash.com/random/1920x1080') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #333;
}

.auth-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin: 20px;
    transition: transform 0.2s ease-in-out;
}

.auth-container:hover {
    transform: scale(1.05);
}

h1 {
    margin-bottom: 20px;
    color: #007BFF;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 12px;
    background: linear-gradient(90deg, #007BFF, #00FF7F);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background 0.3s ease;
}

button:hover {
    background: linear-gradient(90deg, #0056b3, #009966);
}

.error-message {
    color: red;
    margin-top: 10px;
    font-size: 14px;
}

p {
    margin-top: 15px;
}

p a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

p a:hover {
    text-decoration: underline;
}


    </style>
</head>
<body>
    <div class="auth-container">
        <h1>Admin Login</h1>
        <form action="/lgn" method="POST" autocomplete="off">
            <div class="input-group">
                <label for="username">Username:</label>
                <input type="text" id="user" name="user" required  >
            </div>
            <div class="input-group">
                <label for="password">Password:</label>
                <input type="password" id="pass" name="pass" required >
            </div>
            <button type="submit">Login</button>
            <% if (errorMessage) { %>
                <p class="error-message"><%= errorMessage %></p>
            <% } %>
        </form>
    </div>
</body>
</html>