<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>staff</title>
    <style>
        .request{
            display: flex;
            flex-direction: column;
            margin-left: 25%;
            margin-bottom: 80px;
        }
        h1{
            margin-left: 25%;
        }
    </style>
</head>
<body>
    <h1>list of requests for certificates</h1>
    <% items.forEach((item) => { %>
        <div class="request">
            <%= item.message %>
            <img src="./images/<%=item.picture%>" alt="" height="300" width="300">
        </div>
   <% }); %>
</body>
</html>